.highlight {
  color: red;
}

html {
  min-width: 105vh;
  min-height: 105vh;
  overflow-x: hidden;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-2.5px, -2.5px);
  }

  40% {
    transform: translate(2.5px, 2.5px);
  }

  60% {
    transform: translate(-2.5px, 2.5px);
  }

  80% {
    transform: translate(2.5px, -2.5px);
  }

  100% {
    transform: translate(0, 0);
  }
}